<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

    <link href="https://micro.blog/joshpeterson" rel="me" />
  </head>
  <body>
    <section class="nes-container with-title">
      <h1 class="title">Josh Peterson - Software Developer</h1>
      <div style="display: flex; align-items: center;">
        <div style="float: left;">
          <img src="/static/images/josh.jpg" class="nes-avatar is-medium is-rounded">
        </div>
        <div style="margin-left: 10px;">
          <div>
            <a href="mailto:petersonjm1@gmail.com"><i class="nes-icon gmail"></i></a>
            <a href="https://linkedin.com/in/petersonjm1"><i class="nes-icon linkedin"></i></a>
            <a href="https://twitter.com/petersonjm1"><i class="nes-icon twitter"></i></a>
            <a href="https://github.com/joshpeterson"><i class="nes-icon github"></i></a>
          </div>
        </div>
      </div>

      <br/>

      <section class="nes-container with-title">
        <h2 class="title">About</h2>
        <div>
          I'm a software developer with <a href="https://unity3d.com">Unity Technologies</a>. I focus
          on the .NET virtual machines Unity ships, Mono and IL2CPP.
        </div>
      </section>

      {% include collections.html %}

      {{ content }}
    </section>
    <div align="center">
      <p id = "follow">
      Content &copy; <a href="/">Josh Peterson</a>
      Style <a href="https://nostalgic-css.github.io/NES.css/">NES.css</a>
      </p>
    </div>
  </body>
</html>
