<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>


    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link href="/static/css/code.css" rel="stylesheet">
    <link href="/static/css/syntax.css" rel="stylesheet">
    <link href="/static/css/gridtable.css" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
  </head>
  <body>
    <div class="nes-container">
      {{ content }}
    </div>
    <div align="center">
      <p id = "follow">
      Content &copy; <a href="/">Josh Peterson</a>
      Style <a href="https://nostalgic-css.github.io/NES.css/">NES.css</a>
      </p>
    </div>
  </body>
</html>
